<div
    id="CookielawBanner"
    class="hide fade in"
    tabindex="-1"
    role="dialog"
    aria-labelledby="CookielawBannerLabel"
    aria-hidden="false"
    style="display: block;"
>
    <div class="modal-header">
        <h2>Privacy Policy</h2>
    </div>
    <div class="modal-body">
        <p>Inside Eyes uses essential cookies. </p>
        <p>With your agreement, we will use it only to secure your navigation. These cookies do not store any personal information and are essential for the operation of our application.</p>

        <p>For more information, please read our <a href="https://www.safehost.com/privacy-policy/" target="_blank">Privacy Policy</a>.</p>
    </div>

    <div class="modal-footer">
        <a class="btn btn-primary pull-right" href="javascript:Cookielaw.createCookielawCookie();">
            I accept
        </a>
    </div>
</div>
<div class="modal-backdrop fade in"></div>
